<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="./libs/bootstrap/css/bootstrap-theme.min.css"/>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<script src="./libs/jquery-1.11.1.min.js"></script>
		<script src="./libs/jquery-ui.min.js"></script>
		<script src="./libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="./javascripts/indexScripts.js"></script>
	</head>
	<body>
		<h1><%=title%></h1>
		<div id="everything-container">
			<form id="message-form" action="/codeMessage" method="post">
				<div id="left-message">
					<div id="message-pills">
						<ul class="nav nav-pills">
							<li role="presentation" class="active"><a>Encode</a></li>
							<li role="presentation"><a>Decode</a></li>
						</ul>
					</div>
					<div id="selection-container" class="dropdown">
						<div id="which-selection-container">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">One To One</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation"><a role="menuitem" tabindex="-1">One To One</li>
								<li role="presentation"><a role="menuitem" tabindex="-1">Special</a></li>
							</ul>
						</div>
						<div id="key-container" class="hidden">
							<input type="text" placeholder="Enter Key" id="key-text">
						</div>
					</div>
					<textarea id="message-text" rows="10" cols="50" placeholder="Enter Message" autofocus form="message-form"></textarea>
				</div>
				<div id="right-message">
					<button type="submit" id="message-button" class="btn btn-success">Encode</button>
					<div id="calculated-key-container">
						<p id="calculated-key-text"></p>
					</div>
					<label id="key-label">Key:</label>
					<div id="returned-message">
						<p id="returned-text"></p>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
