body {
	background-color: #CCCCFF;
	font-family: 'Play', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#message-pills {
	margin-bottom: 5px;
	float: left;
}

#left-message {
 	float: left;
 	margin-left: 15px;
 	width:47%;
}

#right-message {
	float: right;
	margin-right:15px;
	width:47%;
}

#message-button {
	margin-top:5px;
	width:80px;
}

#returned-message {
	margin-top: 5px;
	background-color: #99FFFF;
	padding-top: 2px;
	padding-left: 5px;
	min-height: 207px;
	border: blue 1px solid;
}

#message-pills > ul > li{
	cursor: pointer;
}

#selection-container {
	float: right;
	margin-top: 5px;
	margin-right: 7%;
}

.dropdown-menu {
	cursor: pointer;
}

#dropdownMenu1 {
	width: 100px;
}

#key-container {
	margin-top: 7px;
}

#calculated-key-container {
	float: right;
	background-color: #FFCCCC;
	width: 300px;
	height: 34px;
	margin-top: 5px;
	border: 1px blue solid;
	border-radius: 3px;
	text-align: center;
	padding-top: 4px;
}

#key-text {
	width: 200px;
}

#key-label {
	float: right;
	margin-right: 5px;
	font-size: 20px;
	margin-top: 6px;
}