body {
	background-color: #CCCCFF;
	font-family: 'Play', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#message-pills {
	margin-bottom: 5px;
}

#message-text {
}

#left-message {
 	float: left;
 	margin-left: 15px;
 	width:46%;
}

#right-message {
	float: right;
	margin-right:15px;
	width:46%;
}

#message-button {
	margin-top:5px;
}

#returned-message {
	margin-top: 5px;
	background-color: #99FFFF;
	padding-top: 2px;
	padding-left: 5px;
	min-height: 207px;
	border: blue 1px solid;
}

#message-pills > ul > li{
	cursor:pointer;
}